KUBE_API_SERVER_URL=https://localhost:6443
KUBECONFIG=./docker/k8s/kubeconfig-dev

K8S_SOURCE_CODE_REPO_PATH=/home/roman/h/k8s/kubernetes
DELVE_BIN_PATH=/home/roman/Soft/GoLand-2022.2.3/plugins/go/lib/dlv/linux/dlv
